aniso8601==9.0.1
attrs==21.2.0
click==7.1.2
dnspython==2.1.0
email-validator==1.1.2
Flask==1.1.2
Flask-Login==0.5.0
flask-mongoengine==1.0.0
Flask-PyMongo==2.3.0
flask-restplus==0.13.0
Flask-WTF==0.14.3
idna==3.1
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
mongoengine==0.23.1
pymongo==3.11.4
pyrsistent==0.17.3
python-dotenv==0.17.0
pytz==2021.1
six==1.16.0
Werkzeug==0.16.1
WTForms==2.3.3
