<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>500</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='css/custom.css') }}"
        />
        <link
            type="text/css"
            rel="stylesheet"
            href="{{ url_for('static', filename = 'css/bootstrap.css') }}"
        />
    </head>

    <body style="background: #f2f2f2">
        <div class="error-container">
            <img
                src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622798840/The%20Foodie/500_w0yvnj.png"
                alt="500"
            />
            <p class="text-center pt-2">Woops, something went wrong!</p>
            <p class="text-center">
                <a href="{{ url_for('index') }}">Take me back home!</a>
            </p>
        </div>

        <script src="{{ url_for('static', filename = 'js/jquery.js') }}"></script>

        <script src="{{ url_for('static', filename = 'js/jquery-migrate.js') }}"></script>

        <script src="{{ url_for('static', filename = 'js/bootstrap.js') }}"></script>
    </body>
</html>
