<!-- Footer Section Starts Here -->

<footer>
    <div class="container">
        <div class="row pt-5 pb-2">
            <div class="col-12">
                <div class="footer-logo text-center">
                    <img src="" alt="" />
                </div>
            </div>

            <div class="col-12 text-center">
                <ul class="social-links list-inline">
                    <li class="list-inline-item">
                        <a
                            href="https://www.facebook.com"
                            title=""
                            class="
                                d-flex
                                align-items-center
                                justify-content-center
                            "
                            ><i class="fab fa-facebook"></i
                        ></a>
                    </li>

                    <li class="list-inline-item">
                        <a
                            href="https://twitter.com"
                            title=""
                            class="
                                d-flex
                                align-items-center
                                justify-content-center
                            "
                            ><i class="fab fa-twitter"></i
                        ></a>
                    </li>

                    <li class="list-inline-item">
                        <a
                            href="https://www.instagram.com"
                            title=""
                            class="
                                d-flex
                                align-items-center
                                justify-content-center
                            "
                            ><i class="fab fa-instagram"></i
                        ></a>
                    </li>

                    <li class="list-inline-item">
                        <a
                            href="https://www.youtube.com"
                            title=""
                            class="
                                d-flex
                                align-items-center
                                justify-content-center
                            "
                            ><i class="fab fa-youtube"></i
                        ></a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="footer-nav pb-3">
            <div class="row">
                <div class="col-12">
                    <ul
                        class="
                            footer-nav-links
                            d-flex
                            align-items-center
                            justify-content-center
                            list-unstyled
                        "
                    >
                        <li class="list-inline-item active">
                            <a href="{{ url_for('index') }}" title="">Home</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="{{ url_for('about') }}" title="">About</a>
                        </li>

                        <li class="list-inline-item">
                            <a href="{{ url_for('contact') }}" title=""
                                >Contact</a
                            >
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-credit text-center">
            <div class="row">
                <div class="col-12">
                    <p class="mb-0">
                        © Copyright 2021 - Maurice Murphy. All Rights Reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer Section Ends Here -->
