{% extends 'layout.html' %} {% block content %}
<!-- Main Content Section Starts Here -->

<section class="main-content">
    <div class="container">
        <div class="about">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-img">
                        <img
                            src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622196068/The%20Foodie/indian_spices_bang23.jpg"
                            alt="A table full of spices"
                            class="img-fluid"
                        />
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="about-content">
                        <h2 class="mt-2">About Us</h2>

                        <p>
                            The Foodie is here to help you cook delicious meals
                            with less stress and more joy. We offer recipes and
                            cooking advice for home cooks, by home cooks.
                            Helping create “kitchen wins” is what we’re all
                            about.
                        </p>

                        <p>
                            Tom Smith was a busy London executive when he became
                            tired of the 9 to 5 hetic lifestyle. In 2019, Tom
                            quit his job in JP Morgaan and moved home to Dublin
                            to start his dream project.
                        </p>
                    </div>

                    <div class="more-abt">
                        <h3>History</h3>

                        <p>
                            Started in 2019 as a project to help the community
                            share fresh new cooking ideas. The aim was to bring
                            people together to share their knowledge and
                            experiance.
                        </p>

                        <p>
                            Everyone is welcome at the Foodie's table: people of
                            all races, religions, genders, sexual orientations,
                            ages, backgrounds, and abilities. We strive to be a
                            resource for every home cook, and we consciously
                            work to make this inclusion felt in every part of
                            the site, from the individuals we hire to the
                            recipes we share.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main Content Section Ends Here -->
{% endblock content %}
