{% extends 'layout.html' %} {% block content %}
<!-- Main Content Section Starts Here -->

<section class="main-content">
    <div class="container">
        <div class="about">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-img">
                        <img
                            src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622196068/The%20Foodie/indian_spices_bang23.jpg"
                            alt="A table full of spices"
                            class="img-fluid"
                        />
                    </div>
                </div>

                <div class="col-md-7">
                    <div class="about-content">
                        <h2>About Us</h2>

                        <p>
                            Cras lobortis vehicula augue, sagitts oe sapien
                            lacinia non. Fusce semper lo massa in fringilla.
                            Quisque vitae sapien pellentesque, mollis nte sit
                            amet, aliquet tortor. Integer tincidunt molestie
                            semper. Nam turpis nibh, accumsan et. Mauris nec
                            metus sit amet arcu elementum tempus vel sed dolor.
                        </p>

                        <p>
                            Maximus at consectetur eu velit. Nulla tempor eros
                            bibendum feugiat sollicitudin. Nulla nec ornare
                            lectus. Proin ornare eu sem non imperdiet. Integer
                            vitae tortor justo. Fusce pretium porta ex.
                        </p>
                    </div>

                    <div class="more-abt">
                        <h3>Morbi finibus lorem sed tristique.</h3>

                        <p>
                            Etiam feugiat varius quam, vel hendrerit arcu om
                            pulvinar in. Ut ultricies ultricies quam sed
                            consequat. Etiam nir iturpis, rhoncus ut dictum nec
                            bulum in dui. Pellen tesque euismod dui ut erat
                            interdum, ac aliquet dui elementum.
                        </p>

                        <p>
                            Vestibulum ante ipsum primis into faucibus orci
                            luctus et ultrices posuere cubilia Curae. Etiam
                            luctus euismod fermentum. Nunc facilisis ut tellus
                            sit amet mattis.
                        </p>

                        <p>
                            Etiam feugiat varius quam, vel hendrerit arcu om
                            pulvinar in. Ut ultricies ultricies quam sed
                            consequat. Etiam nir iturpis, rhoncus ut dictum nec
                            bulum in dui. Pellen
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Main Content Section Ends Here -->
{% endblock content %}
