{% extends 'layout.html' %} {% block content %}

<div class="container account-container">
    <img
        class="rounded-circle user-img"
        {% if user["imageURL"] == ""%}
        src="{{ url_for('static', filename = 'images/profile-images/user.png')  }}"
        {% else %}
        src="{{ url_for('static', filename = 'images/profile-images/' + user["imageURL"])  }}"
        {% endif %}
        alt="user image"
    />

    <h2>{{user["first_name"]}} {{user["last_name"]}}</h2>

    <h3>{{user["email"]}}</h3>
    

<form
    name="update_details"
    class="user-update-form border"
    action="post"
    method="post"
    novalidate
    enctype="multipart/form-data"
>
    {{ form.hidden_tag() }}

    <div class="container update-details">
    <h1>Update Details</h1>

    <div class="account-input-container">
        {{ form.first_name(size= 30, placeholder="First Name") }} {% for error
        in form.first_name.errors %}
        <span class="error-message">{{error}}</span>
        {% endfor %}
        <!-- prettier ignore -->
        {{ form.last_name(size= 30, placeholder="Last Name") }} {% for error in
        form.last_name.errors %}
        <span class="error-message">{{error}}</span>
        {% endfor %}
    </div>

    <div class="add-profile-label">
        <p>Add a new profile picture</p>
    </div>
    
    <!-- prettier ignore -->
    {{ form.imageURL(placeholder="Profile image", class="user-image-input") }} {% for
    error in form.imageURL.errors %}
    <span class="error-message">{{error}}</span>
    {% endfor %} 
    <p><small>Please upload a square image <span style="color: red; text-transform: uppercase;">only</span></small></p>

    {{ form.submit(class="btn signup-btn")}}
</form>

<div>
    <a
        id=""
        class="btn btn-danger btn-sm m-1 mb-3"
        href="{{url_for('delete_account', _id=user["_id"])}}"
        >Delete Account</a
    >
</div>

</div>
</div>
{% endblock content %}
