{% extends 'layout.html' %}
<!-- Hero Section Starts Here -->

{% block content %}

<section class="blog-section hero-section lg-mt-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="hero-slider">
                    <div class="blog-item">
                        <div class="blog-img hero-img">
                            <img
                                src="{{all_recipes[1]['dishImageURL']}}"
                                alt=""
                                class="img-fluid hero"
                            />
                        </div>

                        <div class="blog-info">
                            <a href="{{ url_for('category', category=all_recipes[1]["category"])}}" title="" class="post-category">Dessert</a>

                            <h3 class="post-title">
                                <a href="{{ url_for('recipe', recipe_id=all_recipes[1]["recipe_id"])}}" title=""
                                    >{{all_recipes[0]['recipe_title']}}</a
                                >
                            </h3>

                            <p>
                                {{all_recipes[1]['description']}}
                            </p>

                        </div>
                    </div>

                    <div class="blog-item">
                        <div class="blog-img  hero-img">
                            <img
                                src="{{all_recipes[3]['dishImageURL']}}"
                                alt=""
                                class="img-fluid hero"
                            />
                        </div>

                        <div class="blog-info">
                            <a href="{{ url_for('category', category=all_recipes[3]['category'])}}" title="" class="post-category">Breakfast</a>

                            <h3 class="post-title">
                                <a href="{{ url_for('recipe', recipe_id=all_recipes[3]["recipe_id"])}}" title=""
                                    >{{all_recipes[2]['recipe_title']}}</a
                                >
                            </h3>

                            <p>
                                {{all_recipes[3]['description']}}
                            </p>

                        </div>
                    </div>

                    <div class="blog-item">
                        <div class="blog-img  hero-img">
                            <img
                                src="{{all_recipes[5]['dishImageURL']}}"
                                alt=""
                                class="img-fluid hero"
                            />
                        </div>

                        <div class="blog-info">
                            <a href="{{ url_for('category', category=all_recipes[5]['category'])}}" title="" class="post-category">Dinner</a>

                            <h3 class="post-title">
                                <a href="{{ url_for('recipe', recipe_id=all_recipes[5]["recipe_id"])}}" title=""
                                    >{{all_recipes[4]['recipe_title']}}</a
                                >
                            </h3>

                            <p>
                                {{all_recipes[5]['description']}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Hero Section Ends Here -->

<!-- Featured Section Starts Here -->

<section class="featured-categories">
    <div class="container">
        <div class="sec-title">
            <h3 class="mb-5">Featured Categories</h3>
        </div>

        <div class="blog-items">
            <div class="row">
                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="blog-item">
                        <a
                            href="{{ url_for('category', category="Breakfast")}}"
                        >
                            <div class="blog-img">
                                <img
                                    src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622038629/The%20Foodie/breakfast_eac71d.jpg"
                                    alt=""
                                    class="img-fluid"
                                    loading="lazy"
                                />
                            </div>

                            <div class="blog-cat text-center d-inline">
                                <h4>breakfast</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="blog-item">
                        <a href="{{ url_for('category', category="Lunch")}}">
                            <div class="blog-img">
                                <img
                                    src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622038611/The%20Foodie/lunch_dmnayw.jpg"
                                    alt=""
                                    class="img-fluid"
                                    loading="lazy"
                                />
                            </div>

                            <div class="blog-cat text-center d-inline">
                                <h4>Lunch</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="blog-item">
                        <a href="{{ url_for('category', category="Dinner")}}">
                            <div class="blog-img">
                                <img
                                    src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622038615/The%20Foodie/dinner_hwl41f.jpg"
                                    alt=""
                                    class="img-fluid"
                                    loading="lazy"
                                />
                            </div>

                            <div class="blog-cat text-center d-inline">
                                <h4>Dinner</h4>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6 col-12">
                    <div class="blog-item">
                        <a href="{{ url_for('category', category="Dessert")}}">
                            <div class="blog-img">
                                <img
                                    src="https://res.cloudinary.com/gemtech-solutions/image/upload/v1622038626/The%20Foodie/dessert_wmagl6.jpg"
                                    alt=""
                                    class="img-fluid"
                                    loading="lazy"
                                />
                            </div>

                            <div class="blog-cat text-center d-inline">
                                <h4>dessert</h4>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Featured Section Ends Here -->

<!-- Main Content Section Starts Here -->

<section class="main-content pt-0">
    <div class="container">
        <div class="">
            <div class="col-lg-12">
                <div class="featured-post mb-3">
                    <div class="sec-title">
                        <h3 class="mb-3">Featured Recipes</h3>
                    </div>
                </div>

                <div class="recipe-card-container">
                    {% for data in recipeData %}

                    <div class="card">
                        <img
                            class="dish-img"
                            src="{{ data['dishImageURL']}}"
                            alt=""
                            loading="lazy"
                        />

                        <div class="card-body-top">
                            <a
                                href="{{ url_for('recipe', recipe_id=data.recipe_id)}}"
                                title=""
                                tabindex=""
                                >{{ data["recipe_title"]}}</a
                            >
                            <p class="card-text">
                                {{ data["description"] | truncate(100) }}
                            </p>
                            <p class="card-text">
                                <small class="text-muted"
                                    >Added on {{ data.date_added.strftime('%B
                                    %d %Y ') }}</small
                                >
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Main Content Section Ends Here -->

{{ pagination.links }}

{% endblock content %}
