{% extends 'layout.html' %} {% block content %}

<div class="login-container">
    <form name="login" class="login-form" action='' method="post" novalidate>
        <div class="login-input-container">
            {{form.hidden_tag()}} {{ form.csrf_token }}
            <h1>Login</h1>
            {{ form.email(class="login_input", size=50, placeholder="Email Address") }}
            {% for error in form.email.errors %}
            <span class="error-message">{{error}}</span>
            {% endfor %}

            {{ form.password(class="login_input", size=15,
            placeholder="Password") }} {% for error in form.password.errors %}
            <span class="error-message">{{error}}</span>
            {% endfor %} 
            <!-- prettier ignore -->
            {{ form.submit(class="login-btn") }}
        </div>
   
    <a class="new-acc-btn" href="{{ url_for('register') }}"
        >Create New Account</a>
</div>
</form>
{% endblock content %}